body {
    background-color: $color-background;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.timer {
    margin-top: -14px;
    color: #fff;
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    text-align: center;

    &__min {
        padding-left: 38px;
    }

    &__sek {
        padding-right: 5px;
    }

    &__container {
        margin-top: 20px;
    }

    &__header {
        color: #fff;
        font-family: "StratosSkyeng";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.restart-btn {
    display: flex;
    margin-top: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 246px;
    justify-content: center;
    align-items: center;
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    margin: auto;
    width: 70vw;
    height: 80vh;
}

.card {
    cursor: pointer;
    min-width: 110px;
    height: 150px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url("../../assets/img/cart-back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.a-spades {
    background-image: url("../../assets/img/a-spades.png");
}

.k-spades {
    background-image: url("../../assets/img/король пики.png");
}

.q-spades {
    background-image: url("../../assets/img/дама пики.png");
}

.j-spades {
    background-image: url("../../assets/img/валет пики.png");
}

.ten-spades {
    background-image: url("../../assets/img/10\ пики.png");
}

.nine-spades {
    background-image: url("../../assets/img/9\ пики.png");
}

.eight-spades {
    background-image: url("../../assets/img/8\ пики.png");
}

.seven-spades {
    background-image: url("../../assets/img/7\ пики.png");
}

.six-spades {
    background-image: url("../../assets/img/6\ пики.png");
}

.a-hearts {
    background-image: url("../../assets/img/туз черви.png");
}

.k-hearts {
    background-image: url("../../assets/img/король черви.png");
}

.q-hearts {
    background-image: url("../../assets/img/дама черви.png");
}

.j-hearts {
    background-image: url("../../assets/img/валет черви.png");
}

.ten-hearts {
    background-image: url("../../assets/img/10\ черви.png");
}

.nine-hearts {
    background-image: url("../../assets/img/9\ черви.png");
}

.eight-hearts {
    background-image: url("../../assets/img/8\ черви.png");
}

.seven-hearts {
    background-image: url("../../assets/img/7\ черви.png");
}

.six-hearts {
    background-image: url("../../assets/img/6\ черви.png");
}

.a-diamonds {
    background-image: url("../../assets/img/туз бубны.png");
}

.k-diamonds {
    background-image: url("../../assets/img/король бубны.png");
}

.q-diamonds {
    background-image: url("../../assets/img/дама бубны.png");
}

.j-diamonds {
    background-image: url("../../assets/img/валет бубны.png");
}

.ten-diamonds {
    background-image: url("../../assets/img/10\ бубны.png");
}

.nine-diamonds {
    background-image: url("../../assets/img/9\ бубны.png");
}

.eight-diamonds {
    background-image: url("../../assets/img/8\ бубны.png");
}

.seven-diamonds {
    background-image: url("../../assets/img/7\ бубны.png");
}

.six-diamonds {
    background-image: url("../../assets/img/6\ бубны.png");
}

.a-clubs {
    background-image: url("../../assets/img/туз крести.png");
}

.k-clubs {
    background-image: url("../../assets/img/король крести.png");
}

.q-clubs {
    background-image: url("../../assets/img/дама крести.png");
}

.j-clubs {
    background-image: url("../../assets/img/валет крести.png");
}

.ten-clubs {
    background-image: url("../../assets/img/10\ крести.png");
}

.nine-clubs {
    background-image: url("../../assets/img/9\ крести.png");
}

.eight-clubs {
    background-image: url("../../assets/img/8\ крести.png");
}

.seven-clubs {
    background-image: url("../../assets/img/7\ крести.png");
}

.six-clubs {
    background-image: url("../../assets/img/6\ крести.png");
}

.close {
    background-image: url("../../assets/img/cart-back.png");
}
