@import url("vars");

@font-face {
  font-family: StratosSkyeng;
  src: url("/assets/fonts/stratosskyengweb-regular.woff") format(woff),
    url("/assets/fonts/stratosskyengweb-regular.woff2") format(woff2);
  font-style: normal;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-background;
  width: 100vw;
  height: 100vh;
}

.level {
  &__container {
    width: 480px;
    height: 460px;
    background: #c2f5ff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__title {
    width: 208px;
    height: 96px;
    font-family: StratosSkyeng;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: #004980;
    font-style: normal;
    font-weight: 400;
  }

  &__toolbar {
    display: flex;
    gap: 24px;
    font-size: 64px;
    line-height: 72px;
    color: #0080c1;
  }
}

.level__start {
  color: #fff;
  background: #7ac100;
  border-radius: 12px;
  min-height: 50px;
  min-width: 248px;
  font-size: 24px;
  line-height: 32px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: #6daa03;
  }
}

.level__toolbar input[type="radio"] {
  display: none;
}

.level__toolbar label {
  font-family: StratosSkyeng;
  display: inline-block;
  padding: 20px 40px;
  cursor: pointer;
  background: #fff;
  border-radius: 12px;
}

.level__toolbar label:hover {
  outline: 3px solid #0080c1;
}

.level__toolbar input[type="radio"]:checked + label {
  outline: 3px solid #0080c1;
}

@import url("game-board");
@import url("mobile");
@import url("game-over");
